
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d9da08c;
    color: #333;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
header {
    background: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}
.content {
    padding: 20px;
}
.section {
    margin-bottom: 20px;
}
.section h2{
    font-weight: 300px;
}
.section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #007bff;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
   
}
ul li {
    margin-bottom: 10px;
}
a {
    color:cadetblue;
    text-decoration: none;
}
footer {
    text-align: center;
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 0.9em;
}
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }
    .section h2 {
        font-size: 1.2em;
    }
}